body {
       margin: 0;
       padding: 0;
        border: 0;
        display: 0;}

        .nav {


            text-align: left;
            padding: 20px 0 20px 0;
        }

        .nav > li {
            display: inline-block;
            padding right: 50px;
        }

        .nav > li > a {
            text-decoration: none;
            color: #ffffff;
        }

        .nav > li > a:hover {
            color: #c1c1c1
        }
        